#header {
    border-bottom: 1px solid #e7e9fc;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-accent {
    color: #2e2f42;
}

#header ul {
    display: flex;
    gap: 40px;
}

.header-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
}

.address {
    font-style: normal;
}

.address ul {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
}

.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}